.role-buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.standard-buttons{
  width: 100px;
  height: 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.role-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.active{
  width: 100px;
  height: 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: darkred;
}